.main
    &__about
        display: flex
        flex-flow: row nowrap
        margin-top: 5em

.about
    &__title
        text-transform: uppercase
        font: bold 1.6rem/1em 'Open Sans'
        margin: 5em 0 1em 0

        &-color
            color: $col-orange

    &__main
        min-width: 20%

    &__text
        font: 400 .9rem/1.5em 'Open Sans'
        text-align: justify

        &:nth-child(2)
            font-weight: 700

    &__btn
        margin-top: 4em

    &__wrap-img
        min-width: 50%

    &__img
        max-width: 100%


