.footer
    background: $col-black
    padding: 2em 5em

    // &__blogs
    //     margin-left: 2em
        

.footer-about
    &__logo
        color: #fff
        text-transform: uppercase
        font: bold 1.5rem/1em 'Open Sans'
        margin-bottom: 1em
        
        &-color
            color: $col-orange

    &__text, &__social
        color: $col-gray-footer
        font: 400 .9rem/1.6em 'Open Sans'
        text-align: justify

    &__social
        margin-top: 2em

    &__form
        display: flex
        margin-top: 2em

    &__email
        width: 20em
        padding: .5em
        font: 400 .9rem/1.3em 'Open Sans'
        color: $col-gray-footer

    &__btn
        width: 10em
        padding: 1em

.blogs
    &__title
        font: bold 1.2rem/1em 'Open Sans'
        text-transform: uppercase
        color: $col-gray-footer

    &__wrap
        display: flex
        align-items: center
        align-content: center
        margin-bottom: 1em

    &__text
        font: 400 .9rem/1.2em 'Open Sans'
        color: $col-gray-footer
        text-align: left
        margin-left: 2em

.instagram
    &__title
        font: bold 1.2rem/1em 'Open Sans'
        text-transform: uppercase
        color: $col-gray-footer

    &__wrap-img
        display: flex
        flex-flow: row wrap
        background: #000
        width: 260px

    &__img
        margin: 1.6px

    &__more
        margin-top: .5em

    &__link
        text-decoration: none
        font: bold .9rem/1em 'Open Sans'
        color: $col-gray-footer

        &:hover
            text-decoration: underline