.main
    &__programm
        background: #fff

.programm
    &__title
        text-transform: uppercase
        font: bold 1.6rem/1em 'Open Sans'
        margin: 2em 0 .5em 0

        &-color
            color: $col-orange

    &__subtitle
        font: 400 .9rem/1em 'Open Sans'

    &__main
        margin-top: 3em

.programm-main
    &__item
        background: $col-gray
        text-align: center

    &__wrap-info
        padding: .5em 2em 2em 2em  

    &__title
        font: bold 1.2rem/1em 'Open Sans' 

    &__text
        font: 400 .9rem/2em 'Open Sans' 
        // text-align: justify 
        // letter-spacing: 0.2px 

    &__btn
        margin: 2em auto 

