.main
    &__trainer
        margin-top: 3em
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/main_trainer/trainer-img1.jpg) no-repeat
        background-size: 100% auto
        min-height: 25em
  
.trainer
    &__wrap
        display: flex
        flex-flow: column nowrap     
        justify-content: center
        align-items: center
        
    &__title, &__subtitle
        text-transform: uppercase
        font: bold 3rem/1em 'Open Sans' 
        color: #fff

    &__subtitle
        font-size: 2rem
        font-weight: 400
        margin-bottom: -1em

    &__btn
        margin: 2em auto