html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html *, html *:before, html *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.main-page {
  background: #fff;
  margin: 0;
  padding: 0;
  height: 1200px;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 575.98px) {
  html {
    font-size: 0.6rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 0.65rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.2rem;
  }
}

.main {
  background: #f1f4f6;
}

.btn {
  display: block;
  color: #fff;
  font: bold 0.9rem/1em 'Open Sans';
  text-transform: uppercase;
  background: #fa7c30;
  border: none;
  cursor: pointer;
  padding: 1em 3em;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-shadow: 0 0 10px #422e3e;
          box-shadow: 0 0 10px #422e3e;
}

.btn:hover {
  -webkit-box-shadow: 0 0 25px #422e3e;
          box-shadow: 0 0 25px #422e3e;
}

@media (max-width: 575.98px) {
  .btn {
    font-size: .8rem;
  }
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/header/header-bg.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header/header-bg.jpg) no-repeat;
  min-height: 750px;
  background-size: 100% auto;
}

.header__navbar {
  color: #fff;
}

.header__main {
  margin: 4em 7em;
}

@media (max-width: 575.98px) {
  .header {
    min-height: 170px;
  }
  .header__main {
    margin: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header {
    min-height: 335px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header {
    min-height: 430px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header {
    min-height: 530px;
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
}

.navbar__item {
  margin-right: .5em;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
  font: bold .9rem/1em 'Open Sans';
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navbar__link:hover {
  color: #fa7c30;
  text-decoration: underline;
  font-size: 1.1rem;
}

.brand__link {
  color: #fff;
  text-decoration: none;
  font: bold 1.3rem/1em 'Open Sans';
  text-transform: uppercase;
}

.brand__link-color {
  color: #fa7c30;
}

.account__login, .account__sing {
  color: #fff;
  text-decoration: none;
  font: bold .9rem/1em 'Open Sans';
  text-transform: uppercase;
  margin-right: 1em;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  word-break: keep-all;
}

.account__login:hover, .account__sing:hover {
  font-size: 1.1rem;
  border: 2px solid #fff;
  padding: .2em .5em;
}

@media (max-width: 575.98px) {
  .account__login, .account__sing {
    color: #fa7c30;
    display: block;
    width: 50px;
    margin-left: -2.5em;
    font: bold .9rem/1.6em 'Open Sans';
  }
  .account__login:hover, .account__sing:hover {
    border: none;
    padding: 0;
  }
}

.other__btn {
  color: #fff;
  font: bold .9rem/1em 'Open Sans';
  text-transform: uppercase;
  background: none;
  border: 2px solid #fff;
  padding: .5em .60em;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.other__btn:hover {
  cursor: pointer;
  color: #fa7c30;
  border: 2px solid #fa7c30;
}

.header-main__title, .header-main__subtitle {
  color: #fff;
  font: bold 3.75rem/1.2em 'Open Sans';
  text-transform: uppercase;
  margin: 0 0 .2em 0;
}

.header-main__subtitle {
  color: #fa7c30;
  margin: 2em 0;
}

.header-main__text {
  color: #fff;
  font: 400 0.9rem/1em 'Open Sans';
  margin-bottom: .2em;
}

.header-main__btn {
  display: block;
  margin: 1.5em 0;
}

@media (max-width: 575.98px) {
  .header-main__title, .header-main__subtitle {
    font-size: 2rem;
    margin-top: .5em;
  }
  .header-main__subtitle {
    color: #fa7c30;
  }
  .header-main__text {
    font-size: 0.8rem;
  }
  .header-main__btn {
    margin: 1.5em auto;
  }
}

.order__wrap {
  margin: -7em auto 0 auto;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-shadow: 5px 0 10px #422e3e;
          box-shadow: 5px 0 10px #422e3e;
}

.order__wrap-img {
  width: 600px;
}

.order__img {
  height: 100%;
}

.order__form {
  text-align: center;
  padding: 2em;
}

.order__title, .order__subtitle {
  text-transform: uppercase;
  font: bold 1.2rem/1em 'Open Sans';
}

.order__subtitle {
  font-size: 1.5rem;
}

.order__main {
  margin-top: 3em;
}

.order__input {
  width: 27%;
  text-align: center;
  font: 400 .7rem/1em 'Open Sans';
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  padding: .5em;
  margin: 1em;
}

.order__btn {
  margin: 3em auto;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: 5em;
}

.about__title {
  text-transform: uppercase;
  font: bold 1.6rem/1em 'Open Sans';
  margin: 5em 0 1em 0;
}

.about__title-color {
  color: #fa7c30;
}

.about__main {
  min-width: 20%;
}

.about__text {
  font: 400 .9rem/1.5em 'Open Sans';
  text-align: justify;
}

.about__text:nth-child(2) {
  font-weight: 700;
}

.about__btn {
  margin-top: 4em;
}

.about__wrap-img {
  min-width: 50%;
}

.about__img {
  max-width: 100%;
}

.main__programm {
  background: #fff;
}

.programm__title {
  text-transform: uppercase;
  font: bold 1.6rem/1em 'Open Sans';
  margin: 2em 0 .5em 0;
}

.programm__title-color {
  color: #fa7c30;
}

.programm__subtitle {
  font: 400 .9rem/1em 'Open Sans';
}

.programm__main {
  margin-top: 3em;
}

.programm-main__item {
  background: #f1f4f6;
  text-align: center;
}

.programm-main__wrap-info {
  padding: .5em 2em 1em 2em;
}

.programm-main__title {
  font: bold 1.2rem/1em 'Open Sans';
}

.programm-main__text {
  font: 400 .9rem/2em 'Open Sans';
}

.programm-main__btn {
  margin: 2em auto;
}

.main__trainer {
  margin-top: 3em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/main_trainer/trainer-img1.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/main_trainer/trainer-img1.jpg) no-repeat;
  background-size: 100% auto;
  min-height: 25em;
}

.trainer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trainer__title, .trainer__subtitle {
  text-transform: uppercase;
  font: bold 3rem/1em 'Open Sans';
  color: #fff;
}

.trainer__subtitle {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: -1em;
}

.trainer__btn {
  margin: 2em auto;
}

.main__team {
  background: #f1f4f6;
}

.team__title {
  text-transform: uppercase;
  font: bold 1.6rem/1em 'Open Sans';
  margin: 2em 0 .5em 0;
}

.team__title-color {
  color: #fa7c30;
}

.team__subtitle {
  font: 400 .9rem/1em 'Open Sans';
}

.team__main {
  margin-top: 3em;
}

.team-main__item {
  width: 300px;
  text-align: center;
}

.team-main__wrap-img {
  width: 300px;
  height: 380px;
}

.team-main__wrap-info {
  padding: .5em 0 1em 0;
}

.team-main__title {
  font: bold 1.2rem/1em 'Open Sans';
}

.team-main__subtitle {
  color: #fa7c30;
  font: bold .8rem/1em 'Open Sans';
  text-transform: uppercase;
  margin-top: -15px;
}

.team-main__text {
  font: 400 .9rem/2em 'Open Sans';
}
/*# sourceMappingURL=style.css.map */